.header {
  background: #1CBCAD;
  background: url(../images/banff-road-min.jpg) no-repeat center top;
  background-attachment: fixed;
  padding-top:140px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 500px;
  width: 100%;

  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header h1 {
	font-size: 80px;
	color: white;
	display:inline-block;
}

.header h3 {
  font-size: 20px;
  color: white;
}

.header h3 a {
  color: #fff;
}
