html {
  overflow-x: hidden;
}

html, html a, body {
  -webkit-font-smoothing: antialiased;
}

body {
  position: relative;
  font-family: Roboto, sans-serif;
}

p {
  font-size: 15px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  color: black;
  line-height: 1.4;
  margin-bottom: 15px;
}

em,
li,
li a {
  font-size: 16px;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  color: black;
}

a {
  font-family: Roboto, sans-serif;
  /*color: #81848f; */
  outline: 0;
}

a:focus, a:hover, a:active {
  outline: 0;
  color: #999caa;
  text-decoration: none;
}

.link {
  position: relative;
  font-size: 13px;
  font-weight: 600;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
}

.link:after {
  position: absolute;
  top: 8px;
  right: -15px;
  width: 9px;
  height: 2px;
  background: #17bed2;
  content: " ";
}

span {
  font-size: 14px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: Roboto, sans-serif;
  /*color: #515769;*/
  line-height: 1.4;
  margin: 0 0 15px;
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
  color: #515769;
}

h1 > a:hover, h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover, h6 > a:hover {
  color: #999caa;
  text-decoration: none;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 16px;
}

::selection {
  color: #fff;
  background: #17bed2;
  text-shadow: none;
}

::-webkit-selection {
  color: #fff;
  background: #17bed2;
  text-shadow: none;
}

::-moz-selection {
  color: #fff;
  background: #17bed2;
  text-shadow: none;
}

:active,
:focus {
  outline: none;
}

/* Section Seperator */
.section-seperator {
  border-bottom: 1px solid #edf0f2;
}

/* Content Wrapper Link */
.content-wrapper-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 3;
  text-decoration: none;
}

.progress-box .progress {
  box-shadow: none;
  height: 3px;
}

.progress-box .progress-bar {
  transition-duration: 2000ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header {
  background: #1CBCAD;
  background: url(../images/banff-road-min.jpg) no-repeat center top;
  background-attachment: fixed;
  padding-top:140px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 500px;
  width: 100%;

  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header h1 {
	font-size: 80px;
	color: white;
	display:inline-block;
}

.header h3 {
  font-size: 20px;
  color: white;
}

.header h3 a {
  color: #fff;
}

.social-icons a{
  transition: all 0.7s ease;
  color: black;
  padding-left: 20px;
  font-size: 27px;
}

.social-icons a:hover {
  color: white;
  text-decoration: none;
}

.about{
  padding-top: 50px;
  padding-bottom: 50px;
  background:no-repeat center right fixed url(../images/nyc.jpg);
  -webkit-background-size:100%;
  -moz-background-size:100%;
  -o-background-size:100%;
  background-size:100%;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/nyc.jpg',sizingMethod='scale')";
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/pixity.gif',sizingMethod='scale');
  opacity: 1.0;
  color: yellow;
}

.about p{
  color: yellow;
}

#particles-js {
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.experience{
  padding-top: 50px;
  padding-bottom: 50px;
  background:#434242
}

.experience p > strong {
    display:block;
    padding-top:8px;
    color: #cccccc;
    margin-bottom:10px
}

.experience .experience-details {
    display:block;
    margin-top:6px
}

.experience h2{
    color:#22A39F;
}

.experience h3{
    color:#cccccc;
}

.experience h5{
    color: #cccccc;
}

.experience span{
  color: #cccccc;
}

.experience .experience-details * {
    color:#22A39F
}

.experience .experience-details .seperator {
    color:#BCBCBC
}


.projects{
  padding-top: 50px;
  padding-bottom: 50px;

}



.contact{
  padding-top: 50px;
  padding-bottom: 50px;
}

.contact a {
  color: #0099CC;
}

.contact a:hover{
  transition: all 0.7s ease;
  color: black;
  /*font-size: 25px; */
}

.social-icons2 a{
  transition: all 0.7s ease;
  color: black;
  font-size: 25px;
}

.social-icons2 a:hover {
  color: #3b5998;
  text-decoration: none;
}
